#SERVER="https://yourtailscaleserver.com"
#TS_AUTHKEY="<TAILSCALE AUTHORIZATION KEY>"
#TS_STATE_DIR="<DIR OF TAILSCALE FILES>"
#MODBUS_RTU_SIMULATION=TRUE
PORT= 8000
TS_DISPLAYNAME="IBS-Tool"
LOG_MAXBUFFER=500

